<div class="row">
	<div class='col-md-4'>
		<div class="row">
			<div class='options col-md-12'>
				<select class="skill-select form-control">
					<option></option>
					<% _.each(skillList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>
				<select class="skill-select form-control">
					<option></option>
					<% _.each(skillList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>
								<select class="skill-select form-control">
					<option></option>
					<% _.each(skillList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>
				<select class="skill-select form-control">
					<option></option>
					<% _.each(skillList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>
								<select class="skill-select form-control">
					<option></option>
					<% _.each(skillList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>
				<select class="skill-select form-control">
					<option></option>
					<% _.each(skillList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>
				<select class="skill-select form-control">
					<option></option>
					<% _.each(skillList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>


				<select class="skill-tree-select-1 form-control">
					<option></option>
					<% _.each(skillPointList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>
				<select class="skill-point-select-1 form-control">
					<option></option>
					<% for (i = 20; i >= -20; i--){ %>
					<option value="<%= i %>"><%= i %></option>
					<% } %>
				</select>

				<select class="skill-tree-select-2 form-control">
					<option></option>
					<% _.each(skillPointList, function(){ %>
					<option value="<%= arguments[0].id %>"><%= arguments[0].name %></option>
					<% }); %>
				</select>
				<select class="skill-point-select-2 form-control">
					<option></option>
					<% for (i = 20; i >= -20; i--){ %>
					<option value="<%= i %>"><%= i %></option>
					<% } %>
				</select>

				<select class="charm-slots form-control">
					<% for (i = 0; i <= 3; i++){ %>
					<option value="<%= i %>"><%= i %></option>
					<% } %>
				</select>
				<button class="get-sets btn btn-default">Search</button>
			</div>
		</div>
		<div class="row">
			<div class='col-md-12'>
				<table class='table ban-list'>
				</table>
			</div>
		</div>
	</div>
	<div class='armor-set-index col-md-8'>
	</div>
</div>